###############################################################################
# Standardverhalten festlegen, um Zeilenenden automatisch zu normalisieren.
###############################################################################
* text=auto

###############################################################################
# Standardverhalten für Diff in der Eingabeaufforderung festlegen.
#
# Dies wird für ältere Builds von msysgit benötigt, bei denen es nicht
# standardmäßig für C#-Dateien aktiviert ist.
# Hinweis: Dies wird nur über die Befehlszeile verwendet.
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Merge-Treiber für Projekt- und Lösungsdateien festlegen
#
# Beim Mergen über die Eingabeaufforderung werden bei Konflikten Diff-Marker
# in die Dateien eingefügt (Beim Mergen in VS sind die Einstellungen unten
# wirkungslos; in VS werden niemals Diff-Marker eingefügt). Diff-Marker können
# dazu führen, dass die folgenden Dateierweiterungen in VS nicht geladen werden.
# Eine Alternative wäre, diese Dateien als binär zu behandeln; dann entstehen
# immer Konflikte und bei jedem Merge ist ein manueller Eingriff nötig.
# Dazu einfach die Einträge unten auskommentieren.
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# Verhalten für Bilddateien
#
# Bilddateien werden standardmäßig als binär behandelt.
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# Diff-Verhalten für gängige Dokumentformate
#
# Binäre Dokumentformate vor dem Vergleichen in Text umwandeln.
# Diese Funktion ist nur über die Befehlszeile verfügbar.
# Aktivieren durch Auskommentieren der folgenden Einträge.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain